@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --dark-blue: hsl(229, 23%, 23%);
    --gray-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-image: url(./images/bg-pattern-bottom.svg), url(./images/bg-pattern-top.svg);
    background-position: right -7.5rem bottom -31.25rem, left -7.5rem top -31.25rem;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
    background-color: var(--dark-cyan);
}

@media screen and (max-width: 500px) {
    body {
        margin: 0 1.25rem;
    }
}

.container {
    width: 30rem;
    min-width: 21.25rem;
    max-height: fit-content;
    background-color: #fff;
    border-radius: 1rem;
}

.pattern {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.profile-image {
    position: relative;
    margin: 0 auto;
    transform: translateY(-50%);
    width: 30%;
    border-radius: 50%;
    border: 0.4375rem solid #fff;
}

.information {
    transform: translateY(-20%);
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 0.0625rem solid var(--dark-gray);
}

.name-age {
    display: flex;
    margin-bottom: 1.125rem;
}

.name {
    font-weight: 700;
    font-size: 1.5rem;
    margin-right: 0.75rem;
    color: var(--dark-blue);
}

.age {
    font-size: 1.5rem;
    color: var(--dark-gray);
}

.location {
    color: var(--dark-gray);
    margin-bottom: 2.1rem;
}

.socials {
    display: flex;
    justify-content: space-around;
    margin-top: 2.1875rem;
}

.social-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.amount {
    font-weight: 700;
    font-size: 1.625rem;
    color: var(--dark-blue);
    letter-spacing: 0.06875rem;
    margin-bottom: 0.625rem;
}

.type {
    color: var(--dark-gray);
    font-size: 0.9375rem;
    letter-spacing: 0.1125rem;
}